.lineInfoDiv {
    display: flex;
    align-items: center;
    border-bottom: 0.3vh solid #ada2a2;
}

.trainLineImg {
    width: 8vh;
    height: 8vh;
}

.lineInfoText {
    font-size: 1.6vh;
    font-weight: 500;
}

.directionDiv {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.directionText {
    margin: 0;
    font-size: 1.67vh;
    font-weight: 500;
}

.directionButton {
    /* Sizing */
    padding: 0.12vh;
    font-size: 1.2vh;
    border-radius: 0.4vh;
    
    /* Other */
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.directionButton:hover {
    background: #f2f2f2;
}

/* Shows which direction is toggled */
.activeDirection {
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

.lineStopsDiv {
    /* Styling */
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow-y: auto;
    max-height: 56vh;
    gap: 1vh;
}

.horizontalDiv {
    display: flex;
    align-items: center;
    gap: 0.7vh;
}

.bulletPoints {
    font-size: 1.4vh;
}

.stationName {
    font-size: 1.59vh
}

.stationTransfers {
    display: flex;
    align-items: center;
    width: 2vh;
    height: 2vh;
}