.sidebarDiv {
    /* Positioning */
    position: absolute;
    top: 1vw;
    left: 1vw;
    bottom: 1vw;
    padding: 0.5vw;
    /* padding-top: 0.3vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw; */

    /* Sizing */
    width: 18vw;
    max-height: 96vh;

    /* Layout */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* Other */
    overflow-y: auto;
    background: rgb(236, 236, 236);
    border-radius: 5px;
}

.topHalf {
    width: 100%;
    border-radius: 1vh;
    border: 2px solid #ada2a2;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    flex-direction: column;
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
}

.bottomHalf {
    border-radius: 1vh;
    border: 2px solid #ada2a2;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
}

.introDiv {
    padding: 0.25vw;
}

/* MTA SUBWAY ROUTE FINDER */
.headerTextDiv {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    font-size: 2.2vh;
}

/* Enter your starting MTA station... */
.instDiv {
    padding: 0.4vw;
    color: rgb(92, 92, 92);
    font-size: 1.4vh;
}

.searchStationDiv {
    width: 100%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    /* padding-bottom: 0.5vw; */
    box-sizing: border-box;
}