.searchDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
    box-sizing: border-box;
}

.stationInput {
    /* Positioning */
    position: relative;

    /* Sizing */
    width: 100%;
    height: 3.8vh;

    /* Other */
    background-color: rgb(255, 255, 255);
    border: 0.2vh solid black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 0.5vh;
}

.stationInput input {
    width: 100%;
    height: 100%;
    padding: 0 0.5vh;
    font-size: 1.8vh;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.suggestionDiv {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;  
    font-size: 1.8vh;
    border: 0.3vh solid rgb(0, 0, 0);
    background-color: rgb(240, 239, 239);
    max-height: 25vh;
    overflow-y: auto;
    
}

.suggestedStation {
    padding: 0.33vw;
    font-size: 1.8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3vh;
}

.displayStationName {
    font-size: 1.6vh
}

.suggestedLineImg {
    width: 2.2vh;
    height: 2.2vh;
}

.suggestedStation:hover {
    background-color: #c9c9c9;
}

.selectedStation {
    position: absolute;
    top: 50%;
    left: 0.7vh;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 0.3vh;

    font-size: 1.8vh;
    pointer-events: none;
}

.stationInput input:focus ~ .selectedStation {
    opacity: 0.1;
}

.searchButton {
    font-size: 1.3vh;
    height: 2.5vh;
    width: 30%;
    padding: 0.25vh;
    border-radius: 1vh;
    border: 0.2vh solid black;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.searchButton:hover {
    cursor: pointer;
}

.hideInputText {
    color: transparent;
    caret-color: transparent;
}